td_cut_copy: tap_dance_cut_copy {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp LC(C)>, <&kp LC(X)>;
};

td_cut_copy_macos: tap_dance_cut_copy_mac {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp LG(C)>, <&kp LG(X)>;
};